.vscode/**
src/**
esbuild.mjs
tsconfig.json
vitest.config.ts
**/*.test.ts
**/*.spec.ts
dist/**/*.map
*.vsix
.gitignore
node_modules/**
!node_modules/@lydell/node-pty/**
!node_modules/@lydell/node-pty-win32-x64/**
node_modules/@lydell/node-pty/prebuilds/**
node_modules/@lydell/node-pty/src/**
node_modules/@lydell/node-pty/**/*.pdb
node_modules/@lydell/node-pty/**/*.md
node_modules/@lydell/node-pty/binding.gyp
node_modules/@lydell/node-pty-win32-x64/src/**
node_modules/@lydell/node-pty-win32-x64/**/*.md
